.header {
    padding: 30px;
    text-align: center;
    background-color: #0bafe0 ;
    color: black;
    font-size: 30px;
    height: 200px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
  }

.list-group {
    margin: auto;
    border-radius: 6px;
    font-size: 16px;
}

.btn {
    background-color: #D9D9D9;
    padding: 5px 20px;
    font-size: 14px;
    transition: 0.3s;
}

.ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 8px 16px 8px 40px;
    list-style-type: none;
    background-color: #999999;
    font-size: 18px;
    transition: 0.1s;
  }

ul li:nth-child(odd) {
    background-color: #cecece;
  }

ul li:hover {
    background-color: #0baee04f;
  }

ul li.checked {
    background-color: #888;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px 8px 16px;
}

.close:hover {
    background-color: #0bafe0;
    color: white;
  }